@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

/* Page section in app.jsx file */
/* common for every pages */
.pageSection {
  width: 100%;
  min-width: 280px;
  height: fit-content;
}

/* Nav bar properties starts */
.navBarSection {
  width: 100%;
  min-width: 280px;
  height: 100px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navBar {
  width: 50%;
  min-width: 280px;
  height: 100%;
  border-radius: 20px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttons {
  width: 145px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.themeButton {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.themeIcon {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* media query @ 1320px */
.resNavBar {
  width: 100%;
  min-width: 280px;
  height: 100%;
  border-radius: 20px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.resButtons {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mobile resposive navbar section */
.resMobileNavBarSection {
  width: fit-content;
  min-width: 280px;
  height: fit-content;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 0.5rem;
  right: 0;
}

.dropDown {
  width: 150px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  margin-right: 20px;
}

.dropDownOption {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nav bar properties ends */

/* Home page starts */
.homePage {
  width: 100%;
  flex-wrap: wrap;
  background-color: #6d8654;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* responsive mobile homepage */
.resHomePage {
  width: 100%;
  flex-wrap: wrap;
  background-color: #6d8654;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  top: 0;
}

/*  text section inside this div */
.content {
  width: 49%;
  min-width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* mobile responsive properties for text content in home page */
.resMobileContent {
  width: 50%;
  min-width: 280px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* sub div inside content */
.description {
  width: 80%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 100px 0 0 0;
}

.description :nth-child(n) {
  font-size: 50px;
  color: #dadddf;
}

.description :nth-child(2) span {
  color: #131411;
}

/* .description :nth-child(3) span {

} */
.description .typeAnimation :nth-child(n) {
  color: #131411;
}

/* THEME CHANGE */
.description .typeAnimationTheme :nth-child(n) {
  color: #6d8654;
}

/* responsive properties for home page text */
.resDescription {
  width: 100%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 100px 0 0 0;
  padding: 0 0 0 200px;
}

.resDescription :nth-child(n) {
  font-size: 35px;
  color: #dadddf;
}

.resDescription :nth-child(2) span {
  color: #131411;
}

.resDescription .typeAnimation :nth-child(n) {
  color: #131411;
}

/* THEME CHANGE */
.description .typeAnimationTheme :nth-child(n) {
  color: #6d8654;
}

/* mobile responsive text content in content div*/
.mobileResDescription {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
}

.mobileResDescription :nth-child(n) {
  font-size: 25px;
  color: #dadddf;
}

.mobileResDescription :nth-child(2) span {
  color: #131411;
}

.mobileResDescription .typeAnimation :nth-child(n) {
  color: #131411;
}

/* THEME CHANGE */
.description .typeAnimationTheme :nth-child(n) {
  color: #6d8654;
}

/* Image section in the homepage */
.imageSection {
  width: 50%;
  min-width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.image {
  width: 80%;
  height: auto;
}

/* responsive image section */
.resImageSection {
  width: 50%;
  min-width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.resImage {
  width: 100%;
  height: auto;
}

/* properties for mobile view */
.mobileResImageSection {
  width: 50%;
  min-width: 280px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-top: 100px;
}

.mobileResImage {
  width: 100%;
  height: auto;
}

/* Home page ends */

/* About page starts */
.aboutPage {
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  background-color: #6d8654;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.aboutTextSection {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.aboutTextArea {
  width: 90%;
  height: fit-content;
  padding: 20px;
  margin: 100px 0 0 0;
}

.aboutTextArea :nth-child(1) {
  font-size: 35px;
  color: #131411;
}

.aboutTextArea :nth-child(2) {
  font-size: 30px;
  color: #dadddf;
}

/* media query @ 1320px */
.aboutResTextArea {
  width: 80%;
  height: fit-content;
}

.aboutResTextArea :nth-child(1) {
  font-size: 25px;
  color: #131411;
  padding: 20px;
}

.aboutResTextArea :nth-child(2) {
  font-size: 20px;
  color: #dadddf;
  padding: 20px;
}

.buttonSection {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.aboutImageSection {
  width: 49%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutPageImage {
  width: 80%;
  height: 80%;
  border: 5px solid #131411;
  border-radius: 20px;
  margin: 100px 0 0 0;
  object-fit: cover;
}

.aboutPageImageDarkTheme {
  width: 80%;
  height: 80%;
  border: 5px solid #131411;
  border-radius: 20px;
  margin: 100px 0 0 0;
  object-fit: cover;
}

/* media query @ 755px*/
.resAboutPage {
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  background-color: #6d8654;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.resAboutTextSection {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.resAboutTextArea {
  width: 90%;
  height: fit-content;
  margin-top: 100px;
  padding: 20px;
}

.resAboutTextArea :nth-child(1) {
  font-size: 25px;
  color: #131411;
}

.resAboutTextArea :nth-child(2) {
  font-size: 20px;
  color: #dadddf;
  padding: 20px;
}

.resAboutImageSection {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resAboutPageImage {
  width: 90%;
  height: 90%;
  border: 5px solid #131411;
  border-radius: 20px;
  object-fit: cover;
}

/* media query ends */

/* About page ends */

/* Expertise page starts */
.expertisePage {
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  background-color: #6d8654;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.expertisePageContent {
  width: 95%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expertiseTitle {
  width: 100%;
  min-width: 280px;
  height: 50px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expertiseTitle span {
  font-size: 40px;
  color: #131411;
}

.expertiseImageSection {
  width: 95%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.expertiseImageSection img {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.titles {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Expertise page ends */

/* work page starts */
.workPage {
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  background-color: #6d8654;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* work page ends */

/* Contact page starts */
.contactPage {
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  background-color: #6d8654;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Contact page ends */
